<div class="table">
    <table>
        <thead>
            <tr>
            <td>S.N0</td><td>Product Name </td><td>Price</td>
        </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let data of cartDetails" >
                    <td>{{data.id}}</td><td>{{ data.Productname}}</td><td>{{data.Price}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td><td>{{ Total }}</td>
                    </tr>
                </tbody>
                </table>
</div>
