<div class="table">
    <table>
        <thead>
            <tr>
            <td>S.N0</td><td>Product Name </td><td>Price</td>
        </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datas of cartdetails">
                    <td>{{datas.id}}</td><td>{{datas.Name}}</td><td>{{datas.Price}}</td>
                </tr>
                <tr>
                    <td colspan="2" >Total</td><td>{{total}}</td>
                    </tr>
                </tbody>
                </table>
</div>
